<%- include("header") -%>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/aboutUs.css">

    <%- include("navbar") -%>
        
        <div class="section">
            <div class="container">
                <div class="content-section">
                    <div class="title">
                        <h3 class="text-danger">About Us</h3>
                    </div>

                    <div class="content">
                        <div class="about-box">
                            <p class="about-p">The BE course in civil engineering was started in 1979. The Faculty Of
                                Engineering and
                                Technology officially came into being in 1985. Undergraduate programmes in civil,
                                electrical and
                                mechanical engineering began
                                is as old as the institution. Undergraduate programmes in electronics engineering began
                                in 1996
                                and in computer engineering began in 2000. The building was inaugurated in October 1995.
                                The
                                four-storey structure has pointed arches adorning the windows. The entrance itself is
                                pyramid-shaped.</p>
                        </div>
                        <hr>
                        <div class="about-box">
                            <h3 class="about-h">Our Vision</h3>
                            <p class="about-p">Connecting our communities to provide hope for healing.</p>
                        </div>

                        <hr>

                        <div class="about-box">
                            <h3 class="about-h">Our Mission</h3>
                            <p class="about-p">We lead the fields of transfusion and transplantation medicine by
                                advancing
                                science and technology. We provide hope for the future by teaching the medical leaders
                                of
                                tomorrow. We enhance lives by connecting donors to patients every day.</p>
                        </div>
                        <hr>
                        <div class="about-box">
                            <h3 class="about-h">A brief history</h3>
                            <p class="about-p">E-Rakt Blood Center was created within the Department of Computer Science
                                at
                                Jamia Milia Islmia in 2022. The Blood Center was created to meet the increasingly large
                                number
                                of Dangue cases in India, and to perform research and teaching.

                                As an academic blood center, we were able to match the resources of a world-class
                                university
                                with the operational demands of a rapidly growing, innovative health care system. Our
                                labs led
                                the field in research and testing services, and our leadership were responsible for
                                initiating
                                many of the procedures and safeguards of the blood supply that are considered industry
                                standards
                                today. As transplantation medicine began to evolve, our HLA (Human Leukocyte Antigen)
                                Lab
                                pioneered numerous transplant monitoring and compatibility methods, and promoted
                                cutting-edge
                                technologies that have made precision heath care and advanced data gathering possible.

                                From the beginning, we have been out front on industry challenges by being ready with
                                testing
                                well in advance of a public health concern. Our mindset has always been one of
                                prevention,
                                preparedness and safety of the blood supply. As the needs of the transplant and
                                transfusion
                                industries have grown increasingly complex, and as our hospital partners have increased
                                in scale
                                and numbers, we have expanded to meet demand, while maintaining our dedication to the
                                well-being
                                of the community and patients we serve.</p>
                        </div>
                        <hr>

                        <div class="about-box">
                            <h3 class="about-h">Where we are today</h3>
                            <p class="about-p">We remain an independent community blood center and leader in the fields
                                of
                                transfusion and transplantation medicine.

                                The Blood Center has developed a large automated blood collection program, including
                                double red
                                blood cell collection and multiple plasma product collection, in response to the growing
                                needs
                                of hospital programs targeting oncology, bone marrow and solid organ transplant. We
                                serve some
                                of the most complex transfusion and transplant programs in the United States with a wide
                                array
                                of specialized products and services.

                                Our Special Donations team is dedicated to responding to the special needs of
                                autologous,
                                directed and therapeutic donors, and our Donor Services team continues to adapt to the
                                ever-changing needs of the ethnically diverse patient population. We maintain
                                partnerships
                                across a wide variety of community organizations and local businesses in order to foster
                                community education and awareness and to connect local donors with local patients
                                through a
                                robust mobile blood donation program.</p>
                        </div>
                        <hr>

                        <div class="about-box">
                            <h3 class="about-h">Culture and impact</h3>
                            <p class="about-p">We are proud to have a dedicated team of talented individuals who are
                                excited to
                                come to work every day and help others. Our team members truly make an impact both
                                locally and
                                globally through the work they do at SBC.</p>
                        </div>
                        <hr>

                        <h3 class="text-danger project-heading">Project work Email</h3>
                        <a class="email" href="mailto:abcdef324@gmail.com">Soban Farooq</a>
                        <a class="email" href="mailto:aadil976062@gmail.com">Mohd Adil</a>
                        <a class="email" href="mailto:mdabushama0120@gmail.com">Md Abu Shama</a>
                        <a class="email" href="mailto:abdulbasit526492@gmail.com">Abdul Basit</a>
                        <a class="email" href="mailto:mohdmaaz.knp2019@gmail.com">Mohd Maaz</a>
                        <a class="email" href="mailto:meetadnanahmad@gmail.com">Adnan Ahmad</a>
                        <a class="email" href="mailto:farzanasshraf2001@gmail.com">Farzan Ashraf</a>
                        <a class="email" href="mailto:toffanhjp@gmail.com">Md Affan</a>

                        <a class="email" href="mailto:mohdmobasshir11@gmail.com">Mohd Mobasshir</a>
                    </div>
                </div>

                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>

        </div>
    </div>
        
    <%- include("footer") -%>
    <script>
        document.querySelector("#v-pills-about-tab").classList.add("active");
    </script>
</body>
</html>