<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin_Profile.css">
  <link rel="stylesheet" media="screen and (max-width:650px)" href="phone.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Admin</title>
</head>

<body>

  <div class="sidenav">
    <div class="search-container">
      <form action="/action.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
    <a id="button1" href="#">Dashboard</a>
    <a id="button2" href="#">Blood Banks</a>
    <a id="button3" href="#">Add Donor</a>
    <a id="button4" href="#">View Details</a>
    <a id="button5" href="#">Edit Donor Details</a>
   
    <a id="button6" href="#">Admins</a>
    <a id="button7" class="last_a" href="#">Contact</a>
  </div>

  <div class="main">
   
    <div class="admin_dashboard">
     
     <h1>Admin Dashboard</h1>
      
    </div>
  
    <div class="Blood_banks">
    
      <h1>Blood Banks</h1>
      
    </div>

    <div class="add_donor">
    
      <h1>Add Donor</h1>
      
    </div>
    <div class="view_details">
    
      <h1>View Details</h1>
    
    </div>
    <div class="edit_details">
    
      <h1>Edit Details</h1>
      
    </div>
    <div class="admins">
    
      <h1>Admins</h1>
      
    </div>

    <div class="contact">
    
      <h1>Contact</h1>
      
    </div>



  </div>
  <script src="/js/admin_Profile.js"></script>
</body>

</html>