<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/admin_Profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <title>Admin</title>
</head>

<body>
  <nav class="navbar">
    <div class="header">
      <img src="/img/logo.png" alt="logo">
      <div class="toggle">
        <
      </div>
    </div>
    <div class="nav-items">
      <button class="item"><i class="fa-solid fa-chart-line"></i><span class="text">Dashboard</span></button>
      <button class="item"><i class="fa-solid fa-building-columns"></i></i><span class="text">Blood Banks</span></button>
      <button class="item"><i class="fa-solid fa-hand-holding-medical"></i><span class="text">Donors</span></button>
      <button class="item"><i class="fa-solid fa-hospital-user"></i><span class="text">Patients</span></button>
      <button class="item"><i class="fa-solid fa-toolbox"></i><span class="text">Admins</span></button>
      <button class="item" onclick="location.href='/'"><i class="fa-solid fa-right-from-bracket"></i><span class="text">Logout</span></button>
    </div>
  </nav>
  <main class="container">
    <div class="content dashboard active">
      <h1>Admin Dashboard</h1>
    </div>
    <div class="content banks">
      <h1>Blood Banks</h1>
    </div>
    <div class="content donors">
      <h1>Donors</h1>
    </div>
    <div class="content patients">
      <h1>Patients</h1>
    </div>
    <div class="content admins">
      <h1>Admins</h1>
    </div>
  </main>
  <script src="/js/admin_Profile.js"></script>
</body>

</html>