<%- include("header") -%>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/LearnMore.css">

    <%- include("navbar") -%>

    </div>
        <!-- Features -->
        <section class="white-section" id="features">
            <div class="container-fluid">

                <div class="row">

                    <div class="feature-box col-lg-4">
                        <i class="icon fas fa-solid fa-pen fa-4x"></i>
                        <h3 class="feature-title"><strong>Registration</strong></h3>
                        <p>Register yourself and provide medical history.</p>
                    </div>


                    <div class="feature-box col-lg-4">
                        <i class="icon fas fa-solid fa-hand-holding-medical fa-4x"></i>
                        <h3 class="feature-title"><strong>Donation</strong></h3>
                        <p>Donate a single unit of blood in about 15 minutes.</p>


                    </div>
                    <div class="feature-box col-lg-4">
                        <i class="icon fas fa-solid fa-circle-check fa-4x"></i>
                        <h3 class="feature-title"><strong>Refreshments</strong></h3>
                        <p>Rest for about 10 mins while we provide you refreshments.</p>

                    </div>
                </div>
            </div>
        </section>


        <!-- Testimonials -->

        <section class="colored-section" id="testimonials">

            <div id="testimonial-carousel">
                <div class="skill-row">
                    <img class="web-dev" src="/img/blood_donate.png" alt="blood-donate">
                    <h3>How Donation Works ?</h3>
                    <p id="basketball">Donating blood only takes around 10 minutes, but you should allow at least an
                        hour for the whole process (which includes a personal interview, recovery time and free
                        refreshments).
                        You can donate whole blood every 12 weeks, but you can donate plasma every 2 weeks.</p>
                </div>
                <div class="skill-row">
                    <img class="data-science" src="/img/blood-type.png" alt="blood-group">
                    <h3>Blood Groups & Who can donate blood ?</h3>
                    <p id="basketball">The 4 different blood groups are:A,B,AB,O. Each type is either Rh-positive or
                        Rh-negative.O negative blood can be given to anybody if necessary, but it is always preferable
                        to match the exact blood group to prevent dangerous reactions.

                        Healthy adults (18-75 years) who meet donation eligibility criteria can donate blood. The
                        procedure is safe and relatively painless.

                        During a regular donation, you will give around 470ml of whole blood. This is about 8% of the
                        average adult’s blood volume.

                        The body replaces this volume within 24 to 48 hours, and replenishes red blood cells in 10 to 12
                        weeks.
                    </p>
                </div>
            </div>


        </section>



        <!-- Pricing -->

        <section class="white-section" id="pricing">

            <h2 class="section-heading"><strong>After your Blood Donation</strong></h2>
            <p>DO's and Dont's </p>

            <div class="row">
                <div class="pricing-column col-lg-4 col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <h4>Do</h4>
                        </div>
                        <div class="card-body">

                            <p>Hydrate! Drink Plenty of water.</p>
                            <p>Rest and Replenish.</p>
                            <p>Eat foods rich in Iron combined with a source of vitamin C.</p>



                        </div>
                    </div>

                </div>



                <div class="pricing-column col-lg-4 col-md-6">

                    <div class="card">
                        <div class="card-header">
                            <h4>Don't</h4>
                        </div>
                        <div class="card-body">
                            <p>Drink alcohol for 24 hours.</p>
                            <p>Take off your bandages for several hour.</p>
                            <p>Perform heavy lifting or rigourous exercise for 24 hours.</p>





                        </div>
                    </div>

                </div>

                <div class="pricing-column col-lg-4">
                    <div class="card">
                        <div class="card-header">
                            <h4>Feeling Sick</h4>
                        </div>
                        <div class="card-body">
                            <p>call us if you feel sick.</p>
                            <p>Sit down if you feel dizzy.</p>
                            <p>
                                Call us at our post-donation helpline-
                                +91646464
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <!-- Call to Action -->

        <section class="colored-section" id="cta">
            <div class="container-fluid">
                <h3 class="main-heading"><strong>Donate Blood and save a life today.</strong></h3>
            </div>
        </section>
        
    <!-- Footer -->    
    <%- include("footer") -%>
    <script>
        document.querySelector("#v-pills-learn-tab").classList.add("active");
    </script>
</body>
</html>