<%- include("header") -%>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/story.css">
    <!-- Enter your new stylesheet here -->

    <%- include("navbar") -%>

        <section>
            <div class="ASS">
                <div class="Box">
                  <h1>e-RBC STORIES</h1>
                </div>
          
          
                <br>
                <p><strong>e-RBC Stories</strong> connects&nbsp;blood donors and patients though storytelling, with new weekly
                  articles on our blog, <strong>HemoBLOGin</strong>, featured patient stories and videos, and publications. Our
                  patient stories inspire and move us to be of service&nbsp;the most vulnerable in our community,&nbsp;and our
                  donor stories&nbsp;illustrate the many ways donors make a difference in patients’ lives every day.</p>
          
                <br>
                <div class="Boxx">
                  <div class="preHead">
                    <p>PATIENTS STORIES
                    <p>
                  </div>
                </div>
          
                <div class="stories">
                  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" id="story1">
                        <img src="/img/story_img1.jpg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>AMBER’S STORY:</h5>
                        </div>
                      </div>
                      <div class="carousel-item" id="story2">
                        <img src="/img/story_img2.jpg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>THE LEES’ STORY:</h5>
                        </div>
                      </div>
                      <div class="carousel-item" id="story3">
                        <img src="/img/story_img3.jpg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>“HART TO HART”:</h5>
                        </div>
                      </div>
                      <div class="carousel-item" id="story4">
                        <img src="/img/story_img4.jpeg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>PENNY’S LUCKY #8:</h5>
                        </div>
                      </div>
                      <div class="carousel-item" id="story5">
                        <img src="/img/story_img5.jpg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>DYUNG’S STORY:</h5>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
          
                <hr>
          
                <div class="Boxx">
                  <div class="preHead">
                    <p>DONOR STORIES
                    <p>
                  </div>
                </div>
          
                <div class="stories">
                  <div id="carouselExampleCaptions2" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" id="story6">
                        <img src="/img/story_img6.jpg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>MEMORY OF MIDGE ZYLKER</h5>
                        </div>
                      </div>
                      <div class="carousel-item" id="story7">
                        <img src="/img/story_img7.jpg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>BRIAN SMITH:</h5>
                        </div>
                      </div>
                      <div class="carousel-item" id="story8">
                        <img src="/img/story_img8.jpeg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>LILY’S STORY:</h5>
                        </div>
                      </div>
                      <div class="carousel-item" id="story9">
                        <img src="/img/story_img9.jpg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>HOW TO “STICK” WITH IT:</h5>
                        </div>
                      </div>
                      <div class="carousel-item" id="story10">
                        <img src="/img/story_img10.jpg" class="d-block w-50" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                          <h5>ANTHONY FLORES’</h5>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions2" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>
          
                <hr>
              </div>
          
              <div class="Story">
                <button type="button" class="back btn btn-danger">⬅ Back</button>
                <div class="SS">
                        <div class="rr">
                              <img src="/img/story_img1.jpg">
                             <figcaption>—I’ve been a regular blood donor my whole adult life, and I’ve been humbled to be on the receiving end for a change., <br><cite>Brave New World</cite></figcaption>
                       </div>
                   <div class="rrr">
                         <h2>    AMBER’S STORY: AN AVID BLOOD DONOR’S EXPERIENCE  “ON THE RECEIVING END”</h2>
                         <br>
                         <p>    Amber Kerr is many things. A scholar, a university lecturer, a world traveler, a mother of three, an avid blood donor — and, as of late last year, a blood recipient.</p>
                    
                         <br><br><p>When Amber first wrote to e-RBC about her story, it wasn’t in the context of sharing it on our blog. Rather, she asked how soon after her own experience as a patient she would be able to jump back into donating!.</p>
                         <br><br>
                         <p>Amber began donating blood as a university student in Australia when she was 18. “I often prided myself on being brave and willing to try new things. I knew a lot of people were scared by donation but told myself, ‘I bet I can handle it!’” she said. She found out from her first donation that the process really wasn’t too scary after all, and that her blood was especially needed because she was type O-, a “rare breed” of universal donor.</p>
                         <br><br>    
                        
                        
                  </div>
                        
                </div>  
                <div>
                    <p>“After my first donation, I was hooked,” Amber said. Once she transferred to Jamia University for further schooling, she began donating regularly at e-Rakt Blood Center.</p>
                       
                    <br><br><p>Despite running into a few barriers due to her iron levels, she did everything she could to continue donating and to recruit other donors as well. “By that point, I was really motivated to donate because being a blood donor had become part of my identity,” she said. Despite a few brief deferral periods over the course of her decades-long donation journey due to pregnancies, international travel, and athletic competitions, she always felt a warm reception, a return home, when she came back.</p>
                      <br><br>   
                    <p>For most of 2021, Amber was deferred from donation for a very exciting reason: She was pregnant with her third child, a son. But, though this was her third pregnancy, it didn’t go nearly as smoothly as the first two.
                    <br> <br>After developing high blood pressure during her third trimester, Amber was diagnosed with preeclampsia, a serious condition in which an expectant mother develops high blood pressure that can lead to seizures, strokes and organ failure. The cause for preeclampsia is unknown and, since there is no effective treatment, Amber had to stay under observation at Holy family Hospital following her diagnosis Despite hopes that the condition might stabilize, Amber’s blood pressure continued to rise during the observation period. In order to protect both Amber and her baby, doctors decided she would need to deliver her baby by Cesarean section at 32 weeks.
                    <br><br>Her care team assured Amber and her husband that C-sections, even for premature babies, are routine procedures and that complications such as blood loss are very rare. Once Amber was in surgery, however, the doctor found that the baby was especially difficult to deliver due to his transverse (sideways) position.
                    <br><br>“Then, the operation took an unexpected bad turn,” Amber recalls. “They had to take additional time and make more extensive cuts to get the baby out. Preeclampsia already causes a higher risk for hemorrhage and, with the trauma of the extra cuts, I ended up with catastrophic blood loss.” The doctor performed an emergency hysterectomy to save Amber’s life, but even so, she lost almost half the blood in her body.
                    <br><br>Because the surgery was supposed to be quick and uneventful, Amber had only been given local anesthesia and was awake during the procedure. She recalls the medical team getting increasingly worried. “I just remember hearing the doctor repeating, ‘Where’s that O-neg? We need blood now!’ It felt totally unreal, almost as if I were in some kind of movie,” she said.
                    <br><br>Thankfully, because of blood donors just like her, Amber was able to get the four pints of blood she so desperately needed. “One of the greatest moments of relief I’ve ever felt in my life was when the blood bag was hooked up to the IV. Once I had it, I could finally relax, and I knew everything was going to be okay.”
                    <br><br>After receiving the blood needed to help her stabilize — and successfully delivering her baby boy — Amber was given general anesthesia and woke up in the ICU with a breathing tube. She had to stay in the hospital for another week for recovery. During that time, she developed anemia and pale grayish-yellow skin, signs of internal bleeding, which ended up requiring another three units of red cells.
                     <div class="SSS"><br>Amber was finally released from the hospital on Thanksgiving Day (a true reason to give thanks!), and her newest addition to the family, sweet Daniel, was released the day after Christmas.
                            <br><br>Flash forward two months later: Amber and family are all now happy and healthy at home, and glad for the chance to be together. Looking back on her experience, Amber said, “Each time I needed blood, I was so relieved by the fact that they were able to find me the blood I required and type match it to me so it was received as well as possible. I’m incredibly grateful for both the blood science that kept me safe and the generous donors who made my recovery possible.”
                             <img src="/img/story_img2.jpg"> </div>
                  
                </div> 
                <br><br><p>Now, having seen firsthand how blood truly saves lives, Amber is even more excited to donate and save the lives of patients just like her.</p>
                 
          
                
              </div>
          
              <div class="Story">
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div class="SS">
                    <div class="rr">
                        <img src="/img/story_img2.jpg">
                        <br>
                        <figcaption><cite>—By Krista Thomas, Communications Strategist</cite></figcaption>
                    </div>
                    <div class="rrr">
                        <h2>THE LEES’ STORY: BOUND BY BLOOD — AND LIVER</h2>
                        <br>
                        <p>Gracielle Lee went into labor with her first and only child, Bryson, when she was just 22 weeks
                            pregnant. At such a critical period, she, her husband Barry and their care team were anxious to
                            delay delivery as long as possible. “Bryson’s likelihood of surviving at 22 weeks was very low
                            so, if we wanted to save him, we’d have to stay at the hospital as long as possible, hopefully
                            until at least 24 weeks to give him the best chance ,” she said. “The first couple of days were
                            terrifying, just thinking about the risk of losing him. But we decided, if he was going to
                            fight, we were going to fight, too,” Gracielle said.
                            <br><br>
          
          
                    </div>
                </div>
                <p>After six weeks bedridden in the hospital, Gracielle finally gave birth to Bryson at about 29 weeks. And,
                    while her ability to hold Bryson in for those additional weeks was immensely helpful, his birth wasn’t
                    without complications. Bryson needed significant transfusions and, on top of the usual concerns doctors
                    have for preemies, Bryson exhibited signs of impaired lung function. Perhaps most concerning was his
                    liver function — or lack thereof.</p>
                <br><br>
                <p>Within just a few weeks of being born, Bryson was diagnosed with biliary atresia, a condition caused when
                    the system that moves bile from the liver to the gallbladder does not develop properly. “When we first
                    got the diagnosis, we were heartbroken, and a little lost and confused, too,” Gracielle said.
                    <br><br>tried a preliminary procedure to fix the problem but ultimately determined that, at just about
                    eight months old, Bryson’s only hope of survival was a liver transplant. Without hesitation, Barry
                    volunteered. “When the doctors said, ‘liver transplant,’ there was no question. Either one of us would
                    volunteer to save our son,” he said.
                    <br><br>So, within just months of Gracielle’s extended hospital stay, it was now Barry’s turn. “The
                    process for getting approved for the transplant at Lucile Packard was pretty smooth,” he said. “It was
                    six or seven hours of running tests, talking to doctors, talking to psychiatrists. Then I spent one week
                    in the hospital after my surgery and went home for a fairly lengthy recovery.”
                    <br><br>During this time, Barry had limited mobility and needed extra help at home — but, at the same
                    time, Bryson was still in the hospital recovering from his transplant. Gracielle split time between her
                    two loved ones during their recovery. Bryson needed extra attention as he faced multiple complications
                    and caught an illness that, given his weakened immune system, was particularly dangerous.
                    <br><br>
                <div class="SSS">
                    <p> four months post-surgery, Bryson was released from the hospital and sent home with very intricate
                        care instructions. “It was a very emotional and stressful time. I had to leave my job after six
                        months because it was very overwhelming trying to take care of all of the equipment and care Bryson
                        needed at home, plus trying to be an attentive wife and take care of my husband as he was
                        recovering, too,” Gracielle said.
                        <br><br>For Barry’s part, it was a struggle, wanting to step in and support the family but being
                        limited by his own need to heal, too. “The best thing I could do for us was to try to keep us
                        positive and keep us calm. I tried to keep a level head as best I could and help my wife and I look
                        on the bright side when things were looking bad,” he said.
                        <br><br>Ultimately, the family fought past some close calls and Bryson’s liver transplant was
                        successful. Though Bryson still needs check-ins and extra care for some other developmental delays
                        associated with his premature birth, over time, the hospital visits have become fewer and further in
                        between and the family has found their “own sense of normal.”
                    </p> <img src="/img/story_img4.jpg">
                </div>
                <p> In addition to the blood donors who supported Bryson, they’re also extremely thankful for those who
                    supported their family at Holy family Hospital. “We wouldn’t be where we are today if it weren’t for all
                    the incredible surgeons, doctors, nurses and care team who took care of Bryson during his most difficult
                    times!” Gracielle added.
                    <br><br>Bryson is now three years old and a true bundle of joy. “He’s such an amazing little kid,” Barry
                    said. “He’s super friendly, he absolutely loves people. He loves playing with balls, eating mac and
                    cheese and exploring anything new.”
                    <br><br>“I couldn’t imagine if he hadn’t gone through this, how much different he might be. I’d like to
                    think it all happened for a reason and it has helped shape him into the loving, outgoing kid he is,”
                    Gracielle added.
                    <br><br>Having each given so much of themselves to save their child, both Gracielle and Barry are
                    advocates for blood donation and organ donation and use their story to encourage others to educate
                    themselves about the needs of patients like their son. You can learn more about how to support
                    transplant recipients like Bryson — and how to become an organ donor like Barry.
              </div>
          
              <div class="Story"> 
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div class="SS">
                         <div class="rr">
                        <img src="/img/story_img3.jpg">
                             <br>
                         <figcaption><cite>—By Krista Thomas, Communications Strategist</cite></figcaption>
                         </div>
                   <div class="rrr">
                    <h2>“HART TO HART”: HOW DR. BRAD HART HONORS HIS MOTHER THROUGH DONATION</h2>
                    <br>
                    <p>Brad Hart is a fifth-generation medical professional and comes from a history of medical innovation. His great, great grandfather, Andrew Jackson Hart, was an OBGYN; his great grandfather, Arch Coombs Hart, was a practicing dentist, and one of the first  to lecture that tooth decay was caused by bacteria; his grandfather, Frank L. Hart, was a practicing dentist and the first to use plastic instead of rubber in dentures bases (as is the practice today); his father, Ward Hart, was an esteemed internist and volunteered as a clinical professor at School of Medicine; and now, Brad has carried on his family legacy as a dentist in San Carlos.
                    <br>
                 </div>  
                 </div> 
                    <p><br>Growing up around such an incredible legacy of patient impact, Brad always knew he wanted to devote his life to supporting patients in a professional capacity and has done just that over his 38-year career in dentistry. But when Brad’s mother was diagnosed with cancer in 2019, he turned to a new and much more intimate way of providing support: blood donation.
                        <br><br>In the spring of 2019, Brad received an alarming call that his mother, Frances, had fallen in her home while changing the sheets on her bed and broke her hip.
                        <br><br> Frances was 93 years old at the time and, though she was generally independent and in good health, her care team noticed around the time of her admittance to the hospital that, based on some preliminary testing, she had very low hemoglobin levels.Frances confirmed feeling more tired than usual as of late and the doctors ordered additional testing. Though Frances’ hip would fully recover during her stay, she would leave the hospital with an entirely new diagnosis: myelodysplastic syndrome (MDS).
                        <br><br>MDS is a rare disorder that is also classified as a form of blood cancer. With MDS, bone marrow does not produce enough fully mature or normal red blood cells, leading to low hemoglobin as well as other serious health issues. As part of her treatment, Frances has come to rely on blood donations to make up for the healthy cells she lacks.
                        <br><br>“Every six weeks, my mom receives a blood transfusion, and it’s truly night and day,” Brad said. “You can tell she feels run down toward the end of her six weeks, but, within an hour of getting the next transfusion, she’s full of energy!”
                        <br><br>As critical as these transfusions have been to her treatment, Frances, being as selfless as she is, was feeling guilty using blood so regularly when she knew others in the community were in need also. Though her doctors and family assured her that people like her were the reason donors gave blood, Brad knew that the best way to put his mom at ease would be to step in and donate to the community blood supply on her behalf.
                        <br><br>This year marked Brad’s first blood donation at e-RBC. He was accompanied by donor and friend Dave Parrent, who stepped up to call e-RBC and schedule Brad’s appointment at the same time as his own scheduled blood donation. Dave is also donating in honor of a loved one, and he and Brad continue to donate together to provide support for families just like theirs.
                        <br><br>Earlier this year, Brad reached out to e-RBC’s Communications team at the behest of Frances, who wanted to find a way to send a heartfelt message of thanks to blood donors and to let them know that their donations really do make a world of difference.
                        <br><br>As for e-RBC, we wish Frances continued healing and want to echo her thanks to all of our community donors — including Brad — whose generosity saves lives on a daily basis.</p>
            
                   
              </div>
          
              <div class="Story">
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div> 
                <div class="SS">
                        <div class="rr">
                           <img src="/img/story_img4.jpeg">
                                <br>
                         <figcaption><cite>—By Ross Coyle, EBC Public Relations Officer</cite></figcaption>
                        </div>
                    <div class="rrr">
                        <h2>PENNY’S LUCKY #8: HOW ONE LITTLE GIRL BEAT LIVER FAILURE AND BECAME ONE OF THE BAY’S YOUNGEST TRANSPLANT ADVOCATES</h2>
                        <br>
                        <p>Imagine being 23- and 24-year-old parents when you find out your new baby girl needs a liver transplant to save her life. That was the reality for Liz Lopez and her husband Rudy Heredia. It all started just two months after their daughter Penelope was born. Liz took “Penny” in for a routine checkup where it was discovered that she had jaundice, common among infants… but also a potential sign of liver disease. The liver is an organ about the size of a football (in an adult) that sits just under the rib cage on the right side of your abdomen. It’s essential for digesting food and ridding your body of toxic substances. Blood tests showed that Penny’s liver was working overtime and could not process food properly. She was diagnosed with biliary atresia, a rare liver disease that occurs in infants. This congenital condition is a result of abnormal development of bile ducts inside or outside the liver.</p>
                    </div>
                </div>
                    <p>Penny underwent a Kasai Procedure to help get the so-called “plumbing” right and was put on medication for her condition. This seemed to be working for a few months, but everything changed one day when Penny was 5 months old. She began acting erratic and developed a high fever that continued to rise, so Liz rushed her to the emergency room. Lab tests confirmed that Penny’s condition was getting worse and they were referred to Lucile Packard Children’s Hospital  (LPCH) immediately to undergo a liver transplant evaluation. After a few days of testing, it was determined Penny was a great candidate for a transplant, but was not sick enough to be able to receive a liver immediately. Her parents were told the wait time would probably be six months to a year… but that Penny might not make it that long.
                        <br><br>“The whole thing was surreal. It was hard to believe that this was happening to our daughter and was happening so quickly,” said Rudy. “It was a very emotional and stressful time for our whole family, but we had to be strong for Penny. Neither of us was really up-to-date or educated on medical issues and certainly not organ transplantation, but it was almost like ignorance is bliss. Despite the difficult situation, we never doubted that things would all work out in the end.” Rudy recalls the doctors reassuring him and Liz that Penny would be alright when she could get the transplant — if she could get it in time.
                        <br><br>That optimism paid off! Liz took Penny back to the doctor for a follow-up appointment when she got the call that would change their lives. LPCH had a match just six days after Penny was put on the transplant waiting list. “I was in shock,” said Liz. “I can remember it clearly. It was a Monday and I was told they would let us know about the surgery and process in the next couple days. On day eight, Penny was undergoing surgery to receive her new liver! It happened that fast.”
                        <br><br>The surgery lasted eight hours. “The longest eight hours of our lives,” said Rudy. And timing could not have been better. After the transplant, the doctors showed Penny’s old liver to her parents and compared it to a healthy liver. It turned out that Penny was a lot sicker than they had originally thought going into surgery, and she probably wouldn’t have made it another few months without the transplant. “It was kind of unreal how bad her liver really was. She was truly blessed to have the surgery when she did.”
                        <br><br>The average recovery from a liver transplant is three or four weeks, but Penny wasn’t having that. She went home just eight days after surgery. “Penny’s lucky number eight!” said Liz. “Throughout the whole ordeal, we had a strong support system in our family and friends. On the day of the surgery, we were both extremely nervous, but our first reaction was happiness knowing our daughter was going to be saved. We were thrilled that she came out of it alright and thankful for all those who helped us along the way; but at the same time, it was very emotional because we realized that another family lost their child in order for Penny to live.”
                        <br><br>Today, Penny is a bubbly little kid with a great smile who loves her family and playing with her friends. In May, she celebrated her fifth liver transplant anniversary and is one of the Bay Area’s youngest advocates for organ donation. Liz and Rudy are now registered organ and blood donors and help spread the word on the importance of organ donation and transplantation. “Penny is here for a reason! A lot of patients don’t make it, so we’re very fortunate. Giving blood or becoming an organ donor can help save so many lives and, for us, it’s a small way to pay back all the people who helped save Penny,” said Rudy.
                        <br><br>On September 18, 2021, Liz and Rudy will take part in the Donor Network West Run/Walk. The 5K raises awareness for organ and tissue donation and encourages people to register as organ donors. All proceeds from the event benefit donation education and honor the donors and their families who have given the gift of life in California and Nevada. And right alongside them will be their baby girl, Penny!
                        <br><br>
                        
                    </p>
                </div>
              </div>
          
              <div class="Story">
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div class="SS">
                   <div class="rr">
                       <img src="/img/story_img5.jpg">
                      <figcaption><cite>—By Krista Thomas | Communications &nbsp;&nbsp;&nbsp;Strategist</cite></figcaption>
                   </div>   
                    <div class="rrr">
                        <h2>SUPPORTING TRANSPLANT PATIENTS: e-RBC & DONOR NETWORK WEST</h2>
                        <br>  
                        <p>In 2007, DYung Lu was working full-time, going to school full-time, and getting very little sleep. Given his hectic schedule, he was unsurprised when he started to feel physical ill and worn down, but he continued to press forward.
                            <br><br>
                            Then one day, he was lying in a hammock and one of the strings broke, sending him falling a few feet to the ground. He had a small cut and cleaned himself up, expecting to heal rather quickly. But, the next morning, DYung was alarmed to find that one of his arms had swollen to be even thicker than his leg. He hurried to the hospital to see what was going on and, after doing some bloodwork, his care team told him to call his wife over immediately.
                            <br><br>
                            Once she arrived, the couple was told that DYung was in the very late stages of liver failure and that he would have to go to a specialist immediately. His case was so urgent that the specialist was waiting for him and his wife outside of the building.
                        </p>
                    </div> </div>
                    <div>
                        <p>
                           With a heavy heart, they received the shocking news: DYung had contracted hepatitis B and, based on his disease progression, was almost certain to die within a week.
                           <br><br>“We asked the specialist, ‘If this was your wife, what would you advise her to do?’ He said, ‘If you get on the liver transplant registry, you may be able to recover. There’s only about a 1-2% chance you could get a liver in time. There are roughly 3,500 people on the registry. But, if it was my wife, I’d take that chance.’” And so, they did.
                           <br><br>Praying for the best but expecting the worst, DYung began to contact his loved ones and let them know that he likely would not live much longer. It was as heart-wrenching as can be imagined. And, though the odds were not in his favor, his support team and his church community especially continued to hope and pray for a miracle.
                           <br><br>Then, it happened. Just two days after being placed on the registry — an unbelievably short wait — DYung was informed he had a matched liver and he could go into transplant surgery immediately! Thanks to the donated liver any about 20 units of donated blood products, his transplant was a success. Having lost both his father and grandfather to hepatitis, he felt particularly blessed to be the first in his recent family to survive the disease.
                           <br><br>In a normal liver transplant scenario, the recipient is only hospitalized about 10 days. However, because DYung was so bad off — his liver was only operating at 1% normal function and his hepatitis had begun affecting his kidneys — he was hospitalized for two months.
                           <br><br>Throughout his hospitalization, his wife never left his side. “From the time I set foot in Holy family Hospital and over the course of my two-month stay, my wife never left the hospital. She slept on waiting room benches, in my room, anywhere just to be close to me in case I needed her,” DYung said. “As I was beginning to recover, we had some time to spare, and she encouraged me to help other patients as well. She’d wheel me around in my wheelchair so we could go visit others in the hospital and encourage and pray for them.”
                           <br><br>Soon, the couple caught the notice of a social worker, who, seeing the compassion and joy they brought others, suggested they start a support group organization. And that’s exactly what they did.
                           <br><br>“Once I got home after my surgery, I thought about all I went through, and I said to myself, ‘This life doesn’t belong to me anymore. This second life, it belongs to helping others.’” DYung decided that he no longer wanted to work in the traditional sense, but he would instead dedicate all his time to giving back.
                           <br><br>In 2009, DYung founded a liver transplant group that worked especially with Vietnamese liver transplant patients. “A lot of people in my community don’t speak proficient English, so, when they go to the doctor, they don’t fully understand. It’s scary and confusing, and, when they’re told they need a transplant, they never come back.” Through his organization, DYung has created a network of hundreds of patients who do everything they can to support each other, from the traditional checking-in on their medical cases to even fundraising for their families when needed.
                           <br><br>Since the organization’s founding, DYung has expanded beyond liver transplant and even beyond just Vietnamese patients and is trying to spread his mission of providing hope to as many community members in need of a transplant as possible. He continues to partner with other local and national organizations, including the volunteer network at Holy familys Hospital and Donor Network West. And, he continues to change lives on a daily basis.
                           <br><br>
          
                        </p>
                        <hr>
                        <div class="SSSS">
                        <figcaption><cite>Photo courtesy of Donor Network West.</cite></figcaption>
                        </div>
                    </div>
              </div>
          
              <div class="Story"> 
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div class="SS">
                        <div class="rr">
                            <img src="/img/story_img6.jpg">
                            <figcaption>—By Krista Thomas | Communications Strategist </figcaption>
                       </div>
                        <div class="rrr">
                            <h2>IN MEMORY OF MIDGE ZYLKER</h2>
                            
                          <p><em>Jan. 31, 1947–Nov. 13, 2021</em></p>
                          <br><br>
                          <p>e-Rakt Blood Center (e-RBC) is honoring the legacy of an incredible member of our community, Midge Zylker, who passed away late last year.
                              <br></br>Midge was Blood Drive Coordinator for the Rose Garden Community Blood Drives, and was instrumental in establishing the Willow Glen Community Blood Drive and the Zanotto’s Sunnyvale Community Blood Drive as well.
                             <br><br>Midge’s impact on patients goes back even further than her work with blood drives, as Midge worked as an OBGYN nurse for many years. Around this time, she had multiple friends and colleagues who required transfusions. Her husband, Randy, is type O- and CMV-, which means he can donate to immunocompromised patients, and had given a directed donation during the couple’s marriage to a very young family friend with leukemia. Having lived through the AIDs epidemic as well, Midge knew how critical it is to have blood be both safe and available when it’s most needed.
                          </p>
          
                        </div>
                    </div>
          
                    <div>
                        <p>In the early 1990s, Midge made the bold decision to change career paths and took up residential real estate work, for which she had an immediate knack. She loved the opportunity to help people in the community find a home that spoke to them, and felt it rewarding to help folks navigate what can be a very complex process. After opening her own Silicon Valley-based company in 2012, she was looking for an opportunity to make new connections in the community as well as to give back to those in need more directly. With her own relationship to blood donation, it made sense that she should host a blood drive.
                        <br><br>Midge started the Rose Garden Community Blood Drive in 2008 and worked with e-RBC to establish additional blood drives in the Willow Glen area in 2011, when Fred and Debbie Zanottos opened their store there. As a direct result of her work to coordinate and promote these drives, the community has collected hundreds (if not more) units of blood, which have saved the lives of countless patients in our community.
                        <br><br>When asked about Midge, her husband of 42 years, Randy Zylker, said, “She was very passionate and caring. If her friends or family needed anything, she was there. She was especially supportive when anyone had an illness, offering her kindness and researching extensively to find natural ways to ease their condition.”
                        <br><br>This surely maps onto e-RBC’s own relationship with Midge, who was known throughout the organization and the blood donor community as a warm, caring, dedicated individual. “From the first time I met Midge, I could see her commitment and devotion to her work, which carried over into the blood drives,” said Monica Doleshel-Aguirre, e-RBC Account Manager who worked with Midge on her drives. “She made sure to distribute flyers to as many of her customers and community locations that were willing to put up a poster to promote the blood drives. When I delivered the publicity to her and, when we both had time, she would invite me in to just chat for awhile. I can honestly say her passion and kindness shined through.”                   
                        <br><br>Those wishing to honor Midge are encouraged to donate blood at the November Rose Garden blood drive, which will be held in memory of Midge around one year after her passing. (More information will be shared via our website and social media closer to the date.)
                        <br><br>e-RBC sends our hopes of peace and healing for all who were blessed to know Midge.
                    </p>
                    </div>
              </div>
          
              <div class="Story"> 
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div class="SS">
                        <div class="rr">
                              <img src="/img/story_img7.jpg">
                             <figcaption>—By Ross Coyle, e-RBC Public Relations Officer</figcaption>
                       </div>
                        <div class="rrr">
                            <h2>BRIAN SMITH: REFLECTING ON 600 DONATIONS</h2>
                            <p><em>March 29, 2022 at 4:47 pm</em></p>
                             <p>Here at e-RBC, we love to celebrate our incredible milestone donors and the impact they’ve had on helping support patients in our community. Brian Smith recently made his 600th donation. Ross Coyle, Public Relations Officer, interviewed the Mountain View resident about what inspires him to donate blood and what keeps him coming back all these years
                              <br><br><h5> What does your 600th blood donation mean to you?</h5>
                              <p>It’s just a stepping stone to 700!</p>
                              <br><br><h5>What led you to donate blood the first time?</h5>
                              <p>When our middle child was born at a hospital in San Luis Obispo, family members were asked to donate a pint of whole blood. When I showed up for that donation, I found out that the blood bank was offering meat, cheese and cracker snacks after the procedure plus free Big Mac coupons for each donation. As an engineering student with two kids, the burgers were a nice free meal and motivation for future donations. By the time I graduated from Cal Poly, I had donated 30 units of whole blood.</p>
          
                               
                        </div>
                    </div>
          
                    <div><p>
                         <h6>Why do you donate?</h6>
                        <p> In this season of my life I regularly interact with a young teen in our neighborhood who has Leukemia. It’s my hope that he and others facing that particular health challenge can benefit from the donated platelets. God has blessed me with a healthy body (mind? maybe yes, maybe no?!), so it’s something tangible I can do for him and others like him.</p>
                        <br><br><h6>What keeps you coming back all these years?</h6>
                        <p>Primarily the relationships with the staff at e-Rakt Blood Center. They are kind, caring and dedicated. The Precious Mettle events that include wonderful stories from recipients were also huge motivations to continue.
                            <br><br><h6>Did you ever think you’d be donating so long that you would reach 600 donations? </h6>
                            <p>Yes, as long as my body and veins help up, I didn’t see that milestone as an issue. It’s kind of like the old adage… How do you eat an elephant? One bite (or donation) at a time!</p>
                            <br><br><h6>What has the experience been like for you?</h6>
                            <p>It has become a routine that is just part of my life rhythm now.</p>
                            <br><br><h6>What would you say to potential first-time donors who may be on the fence about donating blood?</h6>
                            <p>Life is teaching me to see the world through the eyes of others. I would say, visualize your first donation flowing into the body of someone who is injured or sick. Think about the intense feelings of gratitude for your blood products from family members of that person. It can offer them real hope!</p>
                            <br><br><h6>Younger folks have a lot of options these days to give back to their community. What would you say to them about the opportunity to help save lives by becoming a blood donor?</h6>
                            <p>By starting regular donations early in your lives, you have to opportunity to benefit hundreds, if not thousands, of people from your individual donations. Go for it! Set the example for your peers! Maybe even bring them along to donate!</p>
                        </p> 
                    </div>
              </div>
          
              <div class="Story"> 
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div class="SS">
                        <div class="rr">
                              <img src="/img/story_img8.jpeg">
                             <figcaption>—By Krista Thomas | Communications Strategist</figcaption>
                       </div>
                        <div class="rrr">
                            <h2>LILY’S STORY: DONOR AT LAST!</h2>
                            <p><em>June 23, 2021 at 10:56 am</em></p>
                            <br><br><p>Growing up, Lily Shih said she never really gave blood donation any thoughts. “I’m Chinese and it just wasn’t a big part of our culture,” she said. It wasn’t until adulthood when her mom was diagnosed with a rare neurological disease and needed transfusions of her own that Lily understood the importance of transfusion. From that time on, she was on a mission — albeit a long and difficult one — to donate blood.</p>
                            <br><br><p>“I’d always been afraid to donate blood because I knew I had veins that were very hard to find,” she said. “However, I admired my mom’s bravery and courage so much, it led me to rethink my fear of needles and the pain of finding my veins. About 11 years ago, I got up the courage and tried to donate.” But, much to her dismay, after over an hour in the donation chair and attempts by five phlebotomists to find her veins, she went home unsuccessful. She was told that, not only are her veins small, but also they move around! The blood center she visited echoed the many phlebotomists she had encountered at hospitals before: She’d likely never be able to donate.</p>
                            
                            </p>
                            
                        </div>
                    </div>
          
                    <div>
                            <p>Though she’d put her attempts to donate on hold, in May of this year, Lily heard about e-Rakt Blood Center through a donor friend on Instagram. She’d never heard of e-RBC but thought it would be a great opportunity to try once more, and she scheduled her first appointment on the anniversary of her mother’s passing.<p></p>
                            <br><br><p>“Even though I wasn’t sure donation was possible for me, I did everything I could to prepare. I drank a ton of water, ate a steak for lunch. I even brought my own quilt, hand warmers and stress ball!” she said.
                            <br><br><p>Though it took a few attempts, Lily was floored to find that e-RBC’s nurse Davina was able to find her vein! “I was thrilled! And almost in tears!” she said. “Everyone there was cheering me on and worked with me to make it a successful donation. As Davina was securing the needle, one phlebotomist, Dana, talked to me to keep me distracted so I wouldn’t get anxious. A kind woman next to me, who was a regular donor, was providing me encouragement, too.” One of the team members even provided her with a special blood donation shirt after she remarked she’d always missed out on getting those special “I donated” shirts at blood drives in high school.</p>
                            <br><br><p>“It was such a special day, to be able to donate for my very first time at 51! Now that things are opening up, I’m looking for any way I can to help out — donating, volunteering and maybe even hosting a blood drive!” Lily said.</p>
                            <br><br><p>e-RBC is absolutely thrilled to welcome Lily to our team of blood donors and to help her finally see her vision through! Thank you, Lily, for your extreme patience, persistence and dedication to supporting patients!</p>
                            
                    </div>
              </div>
          
              <div class="Story"> 
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div class="SS">
                        <div class="rr">
                              <img src="/img/story_img9.jpg">
                             <figcaption>—By Krista Thomas | Communications Strategist</figcaption>
                       </div>
                        <div class="rrr">
                            <h2>HOW TO “STICK” WITH IT: MILESTONE DONORS’ TIPS FOR MAKING DONATION A LIFELONG HABIT</h2>
                            <p><em>August 25, 2021 at 9:00 am</em></p>
                            <br><br><p>When asked if we want to help save lives, the answer will, of course, be a resounding yes. And even when we’re asked to give blood, we may be game to sign up for an initial appointment, too. But, even though donating itself is easy for most people, forming a habit of donating blood, or a habit of any kind, really, can be very challenging.</p>
                            <br><br><p>This month, as part of our “New Normal” campaign, we’re raffling off exciting prizes and asking our community to “make blood donation part of your new normal,” encouraging folks to make a habit of giving back. To help you become a regular donor and “stick with” blood donation for years to come, we asked a few of our most dedicated donors, our milestone donors, to talk about what made them commit to donation long-term and what tips or advice they might have to help others become long-term donors, too!</p>
                            
                        </div>
                    </div>
          
                    <div>
                        <br><br>
                        </div>
                        
              </div>
          
              <div class="Story"> 
                <button type="button" class="back btn btn-danger">⬅ Back</button>
          
                <div class="SS">
                        <div class="rr">
                              <img src="/img/story_img10.jpg">
                             <figcaption>—By Ross Coyle, e-RBC Public Relations Officer</figcaption>
                       </div>
                        <div class="rrr">
                            <h2>ANTHONY FLORES’ 400TH DONATION</h2>
                            <p><em>February 21, 2022 at 3:14 pm</em></p>
                            <br><br><p>Here at e-RBC, we love to celebrate our incredible milestone donors. Anthony Flores recently made his 400th donation at the South Bay center. Ross Coyle, Public Relations Officer, interviewed the San Jose resident about what inspires him to donate blood and what keeps him coming back all these years.</p>
                            <br><br><h5>What does your 400th blood donation mean to you?</h5>
                            <p> It’s the culmination of donating for over 30 years and helping countless patients in need.</p>
                            <br><br><h5>What led you to donate blood the first time?</h5>
                            <p>My company was holding a mobile blood drive. A friend who was a regular donor asked me to go and it seemed like a good idea — and I got a break from work!</p>                        
                            <br><br></div>
                    </div>
          
                    <div>
                        <p><h6>Why do you donate?</h6>
                            <p>I donate to help patients in need. I started donating whole blood at the mobile drives at work. About 10 years later, I was asked to donate platelets. Several years later, a friend contracted leukemia and that inspired me to donate more frequently.</p>   
                            <br><br><h6>What keeps you coming back all these years?</h6>
                            <p>The knowledge that I’m helping others in need like my friend. I also enjoy my interactions with the e-RBC team members, including volunteers.</p>   
                            <br><br><h6>Did you ever think you’d be donating so long that you would reach 400 donations?</h6>
                            <p>When I first started donating, I didn’t think I’d reach 100 donations. When I started donating more frequently and reached 200, 400 seemed within reach.</p>   
                            <br><br><h6>What has the experience been like for you?</h6>
                            <p>It has been rewarding in several ways. Although knowing I’m contributing to patients’ wellbeing is rewarding in and of itself, a few times I was told my donation would be directed to a specific patient, which was especially rewarding. I’ve also known people who started donating after I tell them about my experience.</p>   
                            <br><br><h6>What would you say to potential first-time donors who may be on the fence about donating blood?</h6>
                            <p>A first-time donor would donate whole blood. This procedure is relatively quick, does a world of good for someone in need, and team members are always ready to help in the rare instance of a side effect.</p>   
                            <br><br><h6>Younger folks have a lot of options these days to give back to their community. What would you say to them about the opportunity to help save lives by becoming a blood donor?</h6>
                            <p>Donating blood doesn’t require a lot of time and can be scheduled at the donor’s convenience. Blood cannot be provided any other way: There is no substitute, and the percentage of eligible donors who donate often falls far below the need for patients in dire need. My son, now 32, started coming with me to donate when he was 16 and is currently donating platelets frequently at e-RBC.</p>   
                        </p>
                    </div>
              </div>
        </section>
        
    </div>


    <%- include("footer") -%>
    <script src="/js/Stories.js"></script>
</body>
</html>