<%- include("header") -%>

    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/story.css">
    <!-- Enter your new stylesheet here -->

    <%- include("navbar") -%>
        

        <p><b>SBC Stories</b> connects&nbsp;blood donors and patients though storytelling, with new weekly articles on
            our blog, <b>HemoBLOGin</b>, featured patient stories and videos, and publications. Our patient stories
            inspire and move us to be of service&nbsp;the most vulnerable in our community,&nbsp;and our donor
            stories&nbsp;illustrate the many ways donors make a difference in patients’ lives every day.</p>


        <div class="Story">
            <div class="rr">
                <img src="img/story_img.jpg">
                <figcaption>—I’ve been a regular blood donor my whole adult life, and I’ve been humbled to be on the
                    receiving end for a change., <cite>Brave New World</cite></figcaption>
            </div>
            <div class="rrr">
                <h2> AMBER’S STORY: AN AVID BLOOD DONOR’S EXPERIENCE “ON THE RECEIVING END”</h2>
                
                <p> Amber Kerr is many things. A scholar, a university lecturer, a world traveler, a mother of three, an
                    avid blood donor — and, as of late last year, a blood recipient.</p>

                <p>When Amber first wrote to SBC about her story, it wasn’t in the context of sharing it on our blog.
                    Rather, she asked how soon after her own experience as a patient she would be able to jump back into
                    donating!.</p>
                
                <p>Amber began donating blood as a university student in Australia when she was 18. “I often prided
                    myself on being brave and willing to try new things. I knew a lot of people were scared by donation
                    but told myself, ‘I bet I can handle it!’” she said. She found out from her first donation that the
                    process really wasn’t too scary after all, and that her blood was especially needed because she was
                    type O-, a “rare breed” of universal donor.</p>
                
                <p>“After my first donation, I was hooked,” Amber said. Once she transferred to Stanford University for
                    further schooling, she began donating regularly at Stanford Blood Center. Despite running into a few
                    barriers due to her iron levels, she did everything she could to continue donating and to recruit
                    other donors as well. “By that point, I was really motivated to donate because being a blood donor
                    had become part of my identity,” she said. Despite a few brief deferral periods over the course of
                    her decades-long donation journey due to pregnancies, international travel, and athletic
                    competitions, she always felt a warm reception, a return home, when she came back.</p>

                <div>
                    <span id="text">
                        <p>For most of 2021, Amber was deferred from donation for a very exciting reason: She was
                            pregnant with her third child, a son. But, though this was her third pregnancy, it didn’t go
                            nearly as smoothly as the first two.
                            After developing high blood pressure during her third trimester, Amber was diagnosed
                            with preeclampsia, a serious condition in which an expectant mother develops high blood
                            pressure that can lead to seizures, strokes and organ failure. The cause for preeclampsia is
                            unknown and, since there is no effective treatment, Amber had to stay under observation at
                            Stanford Hospital following her diagnosis Despite hopes that the condition might stabilize,
                            Amber’s blood pressure continued to rise during the observation period. In order to protect
                            both Amber and her baby, doctors decided she would need to deliver her baby by Cesarean
                            section at 32 weeks.
                            Her care team assured Amber and her husband that C-sections, even for premature babies,
                            are routine procedures and that complications such as blood loss are very rare. Once Amber
                            was in surgery, however, the doctor found that the baby was especially difficult to deliver
                            due to his transverse (sideways) position.
                            “Then, the operation took an unexpected bad turn,” Amber recalls. “They had to take
                            additional time and make more extensive cuts to get the baby out. Preeclampsia already
                            causes a higher risk for hemorrhage and, with the trauma of the extra cuts, I ended up with
                            catastrophic blood loss.” The doctor performed an emergency hysterectomy to save Amber’s
                            life, but even so, she lost almost half the blood in her body.
                            Because the surgery was supposed to be quick and uneventful, Amber had only been given
                            local anesthesia and was awake during the procedure. She recalls the medical team getting
                            increasingly worried. “I just remember hearing the doctor repeating, ‘Where’s that O-neg? We
                            need blood now!’ It felt totally unreal, almost as if I were in some kind of movie,” she
                            said.
                            Thankfully, because of blood donors just like her, Amber was able to get the four pints
                            of blood she so desperately needed. “One of the greatest moments of relief I’ve ever felt in
                            my life was when the blood bag was hooked up to the IV. Once I had it, I could finally
                            relax, and I knew everything was going to be okay.”
                            After receiving the blood needed to help her stabilize — and successfully delivering her
                            baby boy — Amber was given general anesthesia and woke up in the ICU with a breathing tube.
                            She had to stay in the hospital for another week for recovery. During that time, she
                            developed anemia and pale grayish-yellow skin, signs of internal bleeding, which ended up
                            requiring another three units of red cells.
                            Amber was finally released from the hospital on Thanksgiving Day (a true reason to give
                            thanks!), and her newest addition to the family, sweet Daniel, was released the day after
                            Christmas.
                            Flash forward two months later: Amber and family are all now happy and healthy at home,
                            and glad for the chance to be together. Looking back on her experience, Amber said, “Each
                            time I needed blood, I was so relieved by the fact that they were able to find me the blood
                            I required and type match it to me so it was received as well as possible. I’m incredibly
                            grateful for both the blood science that kept me safe and the generous donors who made my
                            recovery possible.”
                            Now, having seen firsthand how blood truly saves lives, Amber is even more excited to
                            donate and save the lives of patients just like her.
                        </p>
                    </span>
                </div>

                <div class="btn-container">
                    <button id="toggle">Read More</button>
                </div>
            </div>
        </div>


        <div class="Story">
            <div class="rr">
                <img src="img/story_img3.jpg">
                
                <figcaption><cite>By Krista Thomas, Communications Strategist</cite></figcaption>
            </div>

            <div class="rrr">
                <h2>THE LEES’ STORY: BOUND BY BLOOD — AND LIVER</h2>
                
                <p>Gracielle Lee went into labor with her first and only child, Bryson, when she was just 22 weeks
                    pregnant. At such a critical period, she, her husband Barry and their care team were anxious to
                    delay delivery as long as possible. “Bryson’s likelihood of surviving at 22 weeks was very low so,
                    if we wanted to save him, we’d have to stay at the hospital as long as possible, hopefully until at
                    least 24 weeks to give him the best chance ,” she said. “The first couple of days were terrifying,
                    just thinking about the risk of losing him. But we decided, if he was going to fight, we were going
                    to fight, too,” Gracielle said.
                    
                    After six weeks bedridden in the hospital, Gracielle finally gave birth to Bryson at about 29 weeks.
                    And, while her ability to hold Bryson in for those additional weeks was immensely helpful, his birth
                    wasn’t without complications. Bryson needed significant transfusions and, on top of the usual
                    concerns doctors have for preemies, Bryson exhibited signs of impaired lung function. Perhaps most
                    concerning was his liver function — or lack thereof.
                    
                    Within just a few weeks of being born, Bryson was diagnosed with biliary atresia, a condition caused
                    when the system that moves bile from the liver to the gallbladder does not develop properly. “When
                    we first got the diagnosis, we were heartbroken, and a little lost and confused, too,” Gracielle
                    said.
                <div>
                    <span id="text">Doctors tried a preliminary procedure to fix the problem but ultimately determined
                        that, at just about eight months old, Bryson’s only hope of survival was a liver transplant.
                        Without hesitation, Barry volunteered. “When the doctors said, ‘liver transplant,’ there was no
                        question. Either one of us would volunteer to save our son,” he said.
                        So, within just months of Gracielle’s extended hospital stay, it was now Barry’s turn.
                        “The process for getting approved for the transplant at Lucile Packard was pretty smooth,” he
                        said. “It was six or seven hours of running tests, talking to doctors, talking to psychiatrists.
                        Then I spent one week in the hospital after my surgery and went home for a fairly lengthy
                        recovery.”
                        During this time, Barry had limited mobility and needed extra help at home — but, at the
                        same time, Bryson was still in the hospital recovering from his transplant. Gracielle split time
                        between her two loved ones during their recovery. Bryson needed extra attention as he faced
                        multiple complications and caught an illness that, given his weakened immune system, was
                        particularly dangerous.
                        Finally, four months post-surgery, Bryson was released from the hospital and sent home
                        with very intricate care instructions. “It was a very emotional and stressful time. I had to
                        leave my job after six months because it was very overwhelming trying to take care of all of the
                        equipment and care Bryson needed at home, plus trying to be an attentive wife and take care of
                        my husband as he was recovering, too,” Gracielle said.
                        For Barry’s part, it was a struggle, wanting to step in and support the family but being
                        limited by his own need to heal, too. “The best thing I could do for us was to try to keep us
                        positive and keep us calm. I tried to keep a level head as best I could and help my wife and I
                        look on the bright side when things were looking bad,” he said.
                        Ultimately, the family fought past some close calls and Bryson’s liver transplant was
                        successful. Though Bryson still needs check-ins and extra care for some other developmental
                        delays associated with his premature birth, over time, the hospital visits have become fewer and
                        further in between and the family has found their “own sense of normal.” In addition to the
                        blood donors who supported Bryson, they’re also extremely thankful for those who supported their
                        family at Stanford Hospital. “We wouldn’t be where we are today if it weren’t for all the
                        incredible surgeons, doctors, nurses and care team who took care of Bryson during his most
                        difficult times!” Gracielle added.
                        Bryson is now three years old and a true bundle of joy. “He’s such an amazing little
                        kid,” Barry said. “He’s super friendly, he absolutely loves people. He loves playing with balls,
                        eating mac and cheese and exploring anything new.”
                        “I couldn’t imagine if he hadn’t gone through this, how much different he might be. I’d
                        like to think it all happened for a reason and it has helped shape him into the loving, outgoing
                        kid he is,” Gracielle added.
                        Having each given so much of themselves to save their child, both Gracielle and Barry
                        are advocates for blood donation and organ donation and use their story to encourage others to
                        educate themselves about the needs of patients like their son. You can learn more about how to
                        support transplant recipients like Bryson — and how to become an organ donor like Barry</p>
                    </span>
                </div>
                <div class="btn-container">
                    <button id="toggle">Read More</button>
                </div>
            </div>
        </div>


        <div class="Story">
            <div class="rr">
                <img src="img/story_img5.jpg">
                
                <figcaption><cite>By Krista Thomas, Communications Strategist</cite></figcaption>
            </div>
            <div class="rrr">
                <h2>“HART TO HART”: HOW DR. BRAD HART HONORS HIS MOTHER THROUGH DONATION</h2>
                
                <p>Brad Hart is a fifth-generation medical professional and comes from a history of medical innovation.
                    His great, great grandfather, Andrew Jackson Hart, was an OBGYN; his great grandfather, Arch Coombs
                    Hart, was a practicing dentist, and one of the first to lecture that tooth decay was caused by
                    bacteria; his grandfather, Frank L. Hart, was a practicing dentist and the first to use plastic
                    instead of rubber in dentures bases (as is the practice today); his father, Ward Hart, was an
                    esteemed internist and volunteered as a clinical professor at Stanford University School of
                    Medicine; and now, Brad has carried on his family legacy as a dentist in San Carlos.
                    Growing up around such an incredible legacy of patient impact, Brad always knew he wanted to
                    devote his life to supporting patients in a professional capacity and has done just that over his
                    38-year career in dentistry. But when Brad’s mother was diagnosed with cancer in 2019, he turned to
                    a new and much more intimate way of providing support: blood donation.
                    In the spring of 2019, Brad received an alarming call that his mother, Frances, had fallen
                    in her home while changing the sheets on her bed and broke her hip.
                </p>
                <div>
                    <span id="text">Frances was 93 years old at the time and, though she was generally independent and
                        in good health, her care team noticed around the time of her admittance to the hospital that,
                        based on some preliminary testing, she had very low hemoglobin levels.Frances confirmed feeling
                        more tired than usual as of late and the doctors ordered additional testing. Though Frances’ hip
                        would fully recover during her stay, she would leave the hospital with an entirely new
                        diagnosis: myelodysplastic syndrome (MDS).
                        MDS is a rare disorder that is also classified as a form of blood cancer. With MDS, bone
                        marrow does not produce enough fully mature or normal red blood cells, leading to low hemoglobin
                        as well as other serious health issues. As part of her treatment, Frances has come to rely on
                        blood donations to make up for the healthy cells she lacks.
                        “Every six weeks, my mom receives a blood transfusion, and it’s truly night and day,”
                        Brad said. “You can tell she feels run down toward the end of her six weeks, but, within an hour
                        of getting the next transfusion, she’s full of energy!”
                        As critical as these transfusions have been to her treatment, Frances, being as selfless
                        as she is, was feeling guilty using blood so regularly when she knew others in the community
                        were in need also. Though her doctors and family assured her that people like her were the
                        reason donors gave blood, Brad knew that the best way to put his mom at ease would be to step in
                        and donate to the community blood supply on her behalf.
                        This year marked Brad’s first blood donation at SBC. He was accompanied by donor and
                        friend Dave Parrent, who stepped up to call SBC and schedule Brad’s appointment at the same time
                        as his own scheduled blood donation. Dave is also donating in honor of a loved one, and he and
                        Brad continue to donate together to provide support for families just like theirs.
                        Earlier this year, Brad reached out to SBC’s Communications team at the behest of
                        Frances, who wanted to find a way to send a heartfelt message of thanks to blood donors and to
                        let them know that their donations really do make a world of difference.
                        As for SBC, we wish Frances continued healing and want to echo her thanks to all of our
                        community donors — including Brad — whose generosity saves lives on a daily basis.</p>
                    </span>
                </div>
                <div class="btn-container">
                    <button id="toggle">Read More</button>
                </div>

            </div>

        </div>


        <div class="Story">
            <div class="rr">
                <img src="img/story_img6.jpg">
                
                <figcaption><cite>By Krista Thomas, Communications Strategist</cite></figcaption>
            </div>
            <div class="rrr">
                <h2>ALICE’S TRANSPLANT STORY: A NEW, BETTER NORMAL</h2>
                
                <p>Growing up, Alice Georgitso was no stranger to the healthcare system. At only one month old, she was
                    diagnosed with congenital heart disease. Her first closed-heart surgery was performed at four weeks,
                    and her first open-heart surgery was at nine months. By the time she was 20 years old, she had
                    experienced a heart attack and an ischemic stroke; and had required an Implantable Cardioverter
                    Defibrillator (ICD) and cardiac ablation to protect her from life-threatening arrhythmias (irregular
                    heartbeats); one closed-heart surgery and three open-heart surgeries; not to mention multiple blood
                    transfusions.</p>
                
                <h4>LIFE BEFORE TRANSPLANT</h4>
                <p>As scary as all these incidents and procedures were, though, Alice had never known anything
                    different. As she puts it, “Being sick was my normal.” Despite never going more than three months
                    without seeing a cardiologist, she made accommodations to live a fulfilling life. Alice went away to
                    college, completed graduate school, and moved from her small town outside of Buffalo, New York to
                    the Bay Area at age 23.
                    After one year of living and working in the Bay Area, Alice began experiencing signs of heart
                    failure and uncontrolled arrhythmias. Though she had always experienced fluctuations in her heart
                    rate, her symptoms were getting worse. After a second cardiac ablation was performed to treat her
                    life-threatening arrhythmias, Alice was referred to Stanford Health Care’s Heart Transplant/Heart
                    Failure Program to begin her journey to heart transplantation at age 24.</p>
                <div>
                    <span id="text">
                        <p>Alice would spend three years waiting for her donor heart. During the grueling waiting
                            period, she continued to experience arrhythmias and had to undergo a procedure to repair her
                            ICD, a device that would attempt to “shock” her heart to normal rhythm if her heart rate
                            became dangerously fast. During this time, Alice also received infusion treatments known as
                            IVIG to help reduce her high levels of antibodies that made finding a matching donor heart
                            even more challenging than normal. Her antibody levels were abnormally high because of the
                            multiple blood transfusions she received in previous surgeries — blood transfusions that
                            saved her life at that time.
                            In addition to the extensive medical care Alice was receiving, her heart condition
                            now impacted her everyday routine. The heart failure and arrhythmias caused Alice to be out
                            of breath and experience racing heart rate as her heart struggled to oxygenate her body
                            during tasks as simple as making the bed or brushing her teeth. She worried about whether
                            every place she went had an elevator, since stairs posed a particular risk for shortness of
                            breath and arrhythmias, and avoided travel for fear of not being able to get to an emergency
                            room or adequate care when she might need it. Even with all the precautions she took, she
                            ended up needing to call 9-1-1 about once per month. It wasn’t until she got her heart
                            transplant that she realized just how different life could and should feel.
                        </p>
                        
                        <h4>TRANSPLANT AND RECOVERY </h4>
                        <p>Finally, in 2017, she was delivered the life-changing news: She got a heart! Her heart
                            transplant was performed on September 25, 2017, and, coming out of surgery, she knew
                            immediately that things were very different, in the best way possible. “Right after I woke
                            up from surgery, I had so much color in my face. I had never had the proper circulation
                            before, and it was shocking to realize that, with a functioning heart, my cheeks were rosy,
                            and I looked so alive!” she said.
                            Ten days after her transplant, she was able to take her first post-surgery shower.
                            Though it may not seem like a major milestone, for Alice, it was the first time she’d
                            showered without her heart racing. “At just 10 days after my transplant, I felt healthier
                            than I had my entire life,” she said.
                            Since that time, Alice has taken advantage of her new, healthy life at every
                            opportunity. “When I got my transplant, I told them I’d use my heart wisely,” she said. And
                            so, she has.
                        </p>
                        
                        <h4>LIVING LIFE AND GIVING BACK</h4>
                        <p>The same year that she received her transplant, she participated in her first 5K to support
                            Donor Network West, which was a big deal considering she had previously never been allowed
                            to run. She has also taken the opportunity to travel and has been to more than five
                            countries in the past few years.
                            What takes up most of her time, though — the largest part of her “new normal” — is
                            helping other transplant patients. Her own experiences with healthcare led her to earn a
                            Master of Public Health degree and spend time working in community health prior to needing
                            to put her career on hold while awaiting heart transplantation. Once she was recovered and
                            ready to return to full-time work, she began working at the very place she received her
                            transplant!
                            Currently, Alice is a Donor Search Coordinator with the Blood and Marrow Transplant
                            Program at Stanford Health Care. In her role, she collaborates with the National Marrow
                            Donor Program and Be The Match registry to coordinate allogeneic hematopoietic stem cell
                            transplants for patients with complex disease who need a matching donor. Alice’s own story
                            with transplantation allows her to fully understand the impact transplantation can have on
                            patients.
                            In addition to her full-time position, Alice has taken on numerous volunteer
                            opportunities, including serving as Chairperson of the Adult Congenital Heart Disease (ACHD)
                            Patient & Family Advisory Council at Stanford Health Care. She assisted in developing the
                            Stanford Adult Congenital Heart Program’s Peer-to-Peer Program and serves as a Mentor to
                            ACHD patients pre- and post-organ transplantation to provide patients the opportunity to
                            speak with someone who has been in their shoes. Most recently, Alice joined the Stanford
                            Medicine Center for Improvement Advisory Committee because she is dedicated to delivering
                            excellent patient and family care.
                            Through both her professional and personal life, Alice continues to advocate for
                            transplant patients by encouraging others to register as an organ, eye and tissue donor,
                            consider joining the Be The Match registry to potentially be a future stem cell donor for
                            someone in need, and donate blood at a local blood center. “I’ve benefitted many times
                            personally from the generosity of anonymous donors, and I’ve seen it so often at work, too.
                            Whether it’s a simple blood donation to allow someone to have a surgery, stem cell donation
                            or organ donation, it really does save lives,” she said.
                        </p>
                        
                        <h4>HOW TO HELP</h4>
                        <p>There are three main steps you can take to support those in need of a transplant.</p>
                        <ol>
                            <li> <b>Sign up to be an organ, eye, and tissue</b> donor if you haven’t already. You can
                                join the registry through the DMV as part of the license renewal process or online at
                                donatelife.net. Be sure to also let your immediate family know your decision. This tells
                                them that, at the time of your passing, you would like them to say yes to organ
                                donation. As a deceased donor, the hospital can arrange for your organs, eyes and tissue
                                to help someone on the transplant waiting list.</li>
                            <li><b>Join the blood and marrow registry.</b> When you join the registry, you receive a kit
                                to swab your cheek to get your HLA typing, the sequencing used to match donors with
                                patients. Your information will be stored in the registry and you could be contacted to
                                make a blood or marrow stem cell donation if you are identified as a match for someone
                                who needs a stem cell transplant to survive. Learn more at bethematch.org</li>
                            <li><b>Donate blood!</b> Transplant patients rely on a healthy supply of blood products to
                                enable them to receive transplant surgeries. Plus, some patients waiting for transplants
                                — bone marrow recipients especially — rely on transfusions to keep them healthy until a
                                match is found.</li>
                        </ol>
                    </span>
                </div>
                <div class="btn-container">
                    <button id="toggle">Read More</button>
                </div>
            </div>
        </div>
    </div>


    <%- include("footer") -%>
</body>

</html>