@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background: #EEEEEE;
}
.containerBody{
    width: 80vw;
    margin: auto;
}

.SS{
    margin: 2rem 0;
}

/* Logo */
.logo{
    height: 128px;
    display: flex;
    margin-bottom: 12px;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    height: 64px;
}
.user button {
    background: rgb(212, 212, 212,0.5);
}
.user button:hover{
    background: #C91F42;
    color: aliceblue;
}
.bi-person-circle{
    font-size: 1.5rem;
}
/* navbar section */
nav{
    display: flex;
    width:100%;
    height: 64px;
    justify-content: space-around;
}

.navbar .nav-link{
    display: flex;
    width: 128px;
    height: 48px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
}

.nav-pills .nav-link.active{
    background:#C91F42;
}

/* profile section  */
.profile{
    margin-top: 32px;
}
.card {
    background: #EEEEEE;
    border: none;
    width: 80vw;
    min-height: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.card .basic{
    width: 25%;
    align-items: center;
    justify-content: center;
    color: aliceblue;
}
.edit .bi{
    font-size: 1.5rem;
}
.nav-link{
    position: relative;
    width: 200px;
    text-align: left;
    color: #333;
    font-size: 1.1rem;
}
.nav-link .bi,.nav-link .fa-solid,.nav-link .fa-brands{
    margin-right: 12px;
}
.user-image{
    width: 150px;
}
.user-details{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 8px;
}
.user-details h3{
    border-bottom: 1px solid black;
}
.user-details form,.user-password form{
    width: 100%;
}
.user-details .edit{
    position: absolute;
    right: 12px;
}
.info{
    margin: auto;
    padding: 4px;
    width: 75%;
    display: flex;
    flex-direction: column;
}
.key{
    font-weight: bold;
    color: rgb(83, 83, 83);
}
.value{
    padding: 4px;
    font-weight: 500;
    color: #A1A1A2;
    border: 1px solid #b8b8bb;
    border-radius: 4px;
    margin-bottom: 12px;
}
.user-details .update{
    display: none;
}


/* History section */

.user-history{
    width: 75%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 8px;
}

.user-history table{
    margin-top: 2rem;
}

.user-history h3{
    border-bottom: 1px solid black;
}

/* change password */

.user-password{
    width: 75%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 8px;
}

.alert-danger {
    margin-top: 1.5rem;
}

.btn-success {
    background-color: #c91f42;
    border-color: #C91F42;
}

/* footer (Contact us) */
footer{
    margin-top: 5rem;
    background-color: #333;
    padding: 2rem;
    list-style-type: none;
}

footer hr{
    color: #a1a1a2;
}

.moreInfo h3, .form-sec h3{
    text-align: center;
    margin-bottom: 2rem;

    /* margin: auto; */
}



.address{
    color: #A1A1A2;
    font-size: 1rem;
}

.footerSec{
    color: #efefef;
    /* font-family: 'Source Sans Pro', sans-serif; */
}

.footerSec img{
    width: 120px;
    margin: 4px;
}

.footerSec-heading{
    margin-bottom: 2rem;
}

.footerboxes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footerbox{
    margin: 0 1rem;
    width: 50%;
}

.footerform form{
    display: flex;
    flex-direction: column;
}

.footerform input{
    /* width: 50%; */
    padding: 0.5rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
}

.footerform button{
    width: 6rem;
    margin: auto;
}

.footerList{
    list-style-type: none;
}

.footerList a{
    text-decoration: none;
    color: #a1a1a2;
}

.footerList a:hover{
    color: #fff;
}

.donate{
    text-align: center;
}

.copyRight{
    padding-top: 2rem;
}

.copyRightText{
    text-align: center;
    color: #A1A1A2;
}
